#page1 {
    /*background: url('img/refrigerator_resized.png');
    width: 100%;
    height: 100%;*/
}
table tr {
    border-bottom: solid 1px grey;
}
table th {
    border-bottom: solid 2px grey;
}
table tr.last {
    border-bottom: none;
}
.plus {
    cursor: pointer;
}
.minus {
    cursor: pointer;
}
.delete {
    cursor: pointer;
}